* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  font-family: sans-serif;
	overflow-y: scroll;
}

input{
 display: none;
}

img {
	display: block;
	max-width: 70%;
  height: 100%;
	margin: 0 auto;
}

@media only screen and (min-width: 820px) {
	img {
		max-width: 60%;
	}
}

@media only screen and (min-width: 1080px) {
	img {
		max-width: 50%;
	}
}

h1 {
	font-size: 1.5rem;
}

@media only screen and (min-width: 820px) {
	h1 {
		font-size: 2rem;
	}
}

@media only screen and (min-width: 1080px) {
	h1 {
		font-size: 2.5rem;
	}
}

.wrapper {
	max-width: 63rem;
  margin: 0 auto;
  padding: 3rem 2rem;
}

@media only screen and (min-width: 820px) {
	.wrapper {
		padding: 4rem 3rem;
	}
}

@media only screen and (min-width: 1080px) {
	.wrapper {
		padding: 4rem;
	}
}

.accordion {
	color: rgb(0, 114, 222);
}

.accordion__title {
	display: flex;
	justify-content: space-between;
	align-items: center;
	font-size: 1.2rem;
	padding-top: 0.6rem;
	border-top: 0.05rem solid rgb(183, 183, 183);
	font-weight: bold;
}

@media only screen and (min-width: 820px) {
	.accordion__title {
		font-size: 1.5rem;
	}
}

@media only screen and (min-width: 1080px) {
	.accordion__title {
		font-size: 1.8rem;
	}
}

.accordion__title:hover::after {
	font-family: "Font Awesome 5 Free"; content: "\f107";
}

.accordion__content {
	max-height: 0;
	overflow: hidden;
	margin: 0 auto;
	padding-bottom: 0.6rem;
	transition: max-height 0.5s;
}

.accordion__content img {
  max-height: 1.5rem;
	padding-top: 0.6rem;
	opacity: 0.5;
  transition: 0.5s ease-in-out;
}

input:checked~.accordion {
	color: black;
}

input:checked~.accordion .accordion__content {
	max-height: 40rem;
}

input:checked~.accordion .accordion__content img {
	max-height: 40rem;
	opacity: 1;
}


@media (hover: hover) {
	.accordions:hover .accordion {
		color: #000;
	}

	.accordions:hover .accordion__title::after {
		font-family: "Font Awesome 5 Free"; content: "\f107";
	}

	.accordions:hover input:checked~.accordion .accordion__title::after {
		font-family: "Font Awesome 5 Free"; content: "\f106";
	}

	.accordion:hover {
		cursor: pointer;
	}

	.accordion:hover .accordion__title::after {
		font-family: "Font Awesome 5 Free"; content: "\f106";
	}

	.accordion:hover .accordion__content,
	.accordion:hover .accordion__content img {
		max-height: 40rem;
		opacity: 1;
	}
}